@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'APTypeProText';
    src: url('downloads/fonts/APTypeProText-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
    /* Define colors */
    --primary-color: #ffd500;
    --primary-text-color: #333333;
    --secondary-text-color: #6200ee;
    --background-color: #f8f9fa;
    --white: #ffffff;
    --grey: #6300ee;
    --purple: #9900ff;
    --orange: #ff6200;
    --teal: #00ff77;
    --blue: #0043a8;
    --pink: #f50154;
    --light-blue: #0080ff;
}

body {
    padding: 2.5%;
    font-family: 'Google Sans', 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.nav li {
    display: inline-block;
    margin-right: 16px;
}

.nav a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
}

header {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* Grid Styles */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Box Styles */
.box {
    display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
    background-color: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

th,
td {
    padding: 2.5%;
}

table {
    border-collapse: collapse;
}

tr:nth-child(1) {
    border-bottom: solid var(--grey) thin;
}

tr:nth-child(1) td:nth-child(2) {
    border-right: 1px solid transparent;
}

.hideextra {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line1 {
    width: 100%;    /* Makes the box fill the container's width */
    height: 1rem;   /* Makes the box fill the container's height */
    background-color: var(--light-blue); /* Adds a background color */
    border-radius: 100px;
}

.line2 {
    width: 100%;    /* Makes the box fill the container's width */
    height: 1rem;   /* Makes the box fill the container's height */
    background-color: var(--purple); /* Adds a background color */
    border-radius: 100px;
}

.line3 {
    width: 100%;    /* Makes the box fill the container's width */
    height: 1rem;   /* Makes the box fill the container's height */
    background-color: var(--orange); /* Adds a background color */
    border-radius: 100px;
}

.line4 {
    width: 100%;    /* Makes the box fill the container's width */
    height: 1rem;   /* Makes the box fill the container's height */
    background-color: var(--teal); /* Adds a background color */
    border-radius: 100px;
}

.line5 {
    width: 100%;    /* Makes the box fill the container's width */
    height: 1rem;   /* Makes the box fill the container's height */
    background-color: var(--blue); /* Adds a background color */
    border-radius: 100px;
}

.line6 {
    width: 100%;    /* Makes the box fill the container's width */
    height: 1rem;   /* Makes the box fill the container's height */
    background-color: var(--pink); /* Adds a background color */
    border-radius: 100px;
}

